.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 15px;
    flex: 1;
  }
  

  @media (max-width: 768px) { 
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  