
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.h{
  display: inline;
}
/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  margin-right: 10px;
}

.text-logo {
  flex: 1;
  text-align: center;
}

.text-logo h1 {
  margin: 0;
  font-size: 24px; 
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px; 
}

.language-dropdown {
  display: flex;
  align-items: center;
  position: relative;
}

.language-dropdown select {
  margin-left: 5px;
  padding: 5px;
}


.nav {
  background-color: #f8f8f8;
  padding: 10px 20px;
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav li {
  cursor: pointer; 
}


.content {
  display: flex; 
  flex: 1; 
}


.sidebar {
  width: 250px;
  background-color: #f0f0f0; 
  padding: 20px; 
}

.product-grid {
  flex: 1;
  padding: 20px; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px; 
}


.mobile-buttons {
  display: none; 
  justify-content: space-between;
  padding: 10px;
}

.filter-button,
.recommended-button {
  padding: 10px 15px;
  border: none;
  width: 100%;
  background-color: gray; 
  color: white;
  cursor: pointer;
}


.center-text {
  text-align: center;
  margin: 20px 0;
}

.center-text h2 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.center-text p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
}






@media (max-width: 768px) {
  .mobile-buttons {
    display: flex; 
  }

  .content {
    display: flex;
    flex-direction: column; 
  }

  .sidebar {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    display: block; 
    transform: translateX(0);
  }

  .icons :nth-child(5) {
    display: none;
  }
}


@media (min-width: 769px) {
  .sidebar {
    display: block;
    position: relative;
    width: 250px;
    height: auto;
    transform: none;
  }
}






.mobile-nav {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.mobile-nav ul {
  list-style: none;
  padding: 10px;
}

.mobile-nav ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.hamburger-logo-container {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
}
